[submodule "weather.koplugin"]
	path = weather.koplugin
	url = git@github.com:roygbyte/weather.koplugin
[submodule "crossword.koplugin"]
	path = crossword.koplugin
	url = git@github.com:roygbyte/crossword.koplugin.git
[submodule "dictionarymode.koplugin"]
	path = dictionarymode.koplugin
	url = git@github.com:ckilb/koreader-dictionarymode.git
[submodule "pocketbooksync.koplugin"]
	path = pocketbooksync.koplugin
	url = git@github.com:ckilb/pocketbooksync.koplugin.git
[submodule "gemini.koplugin"]
	path = gemini.koplugin
	url = https://repo.or.cz/gemini.koplugin.git
[submodule "crashlog.koplugin"]
	path = crashlog.koplugin
	url = https://github.com/billiam/crashlog.koplugin.git
[submodule "hardcoverapp.koplugin"]
	path = hardcoverapp.koplugin
	url = https://github.com/billiam/hardcoverapp.koplugin
[submodule "provider-webdav-highlights.koplugin"]
	path = provider-webdav-highlights.koplugin
	url = https://github.com/fairlygood/provider-webdav-highlights.koplugin.git
[submodule "digitalclock.koplugin"]
	path = digitalclock.koplugin
	url = https://github.com/DucNg/digitalclock.koplugin.git
[submodule "readingruler.koplugin"]
	path = readingruler.koplugin
	url = https://github.com/syakhisk/readingruler.koplugin
[submodule "kochess.koplugin"]
	path = kochess.koplugin
	url = https://github.com/bateast/kochess
[submodule "review.koplugin"]
	path = review.koplugin
	url = git@framagit.org:Brumaire/koreader-review-annotations-plugins.git
	branch = koreader-contrib-submodule
