[submodule "weather.koplugin"]
	path = weather.koplugin
	url = git@github.com:roygbyte/koweather.git
[submodule "crossword.koplugin"]
	path = crossword.koplugin
	url = git@github.com:roygbyte/crossword.koplugin.git
[submodule "dictionarymode.koplugin"]
	path = dictionarymode.koplugin
	url = git@github.com:ckilb/koreader-dictionarymode.git
[submodule "pocketbooksync.koplugin"]
	path = pocketbooksync.koplugin
	url = git@github.com:ckilb/pocketbooksync.koplugin.git
